body {
   padding-top: 50px;
   padding-bottom: 50px;  
}
img { 
    width: 90%;
    height: 600px;
}
h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;    
}
h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}